---
layout: page
title: Blog
subtitle: My random thoughts.
description: Jonathan Seow blog page – I share my programming experience and knowledge in this page.
permalink: /posts
sitemap:
  priority: 0.9
---
{% for post in site.posts %}   
    {% unless post.listed == false %}
        {% if post.pin %}
            {% include post/post_card.html %}
        {% endif %}
    {% endunless %}   
{% endfor %}

{% for post in site.posts %}   
    {% unless post.listed == false %}
        {% if post.pin != true %}
            {% include post/post_card.html %}
        {% endif %}
    {% endunless %}   
{% endfor %}
